<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylee.css') }}">
</head>

    <header>
        <h1>Welcome to Our Gym</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/membership">Membership</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section class="highlights">
            <h2>Gym Highlights</h2>
            <ul>
                <li>State-of-the-art equipment</li>
                <li>Experienced trainers</li>
                <li>Group fitness classes</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Gym Management System</p>
    </footer>
</body>
</html>
